body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

article {
    width: 760px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: grey;
    background: url('https://unsplash.com/?flash=alreadyLoggedIn') bottom no-repeat;
    background-size: cover;
}

.header-text {
    color: #c6be94;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.header-post-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(even) {
    background-color: wheat;
}

section:nth-child(odd) {
    background-color: bisque;
}

section:nth-child(1) {
    
}

.main-block {
    background-color: #fff;
    padding: 50px 0 32px;
}

.link {
    color: rgb(33, 37, 41);
}

.link:hover {
    color: #0085a1;
}

.h-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.autor {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    background-color: silver;
}

.footer-links {
    margin-bottom: 50px;
}

.footer-links > a{
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}